.overlay-window {
    display: block;
    position: absolute;
    background: white;
    z-index: 100;
    padding: 20px;
    overflow: hidden;
}

.header {
    height: 40px;
    border-bottom: 1px solid lightgray;
}

.header .btn-close{
    float: right;
}

.body {
    overflow-y: auto;
    padding: 10px;
    height: calc(100% - 50px);
}

::deep .footer {
    width: 100%;
    height: 50px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 45px;
    border-top: 1px solid lightgray;
}

@media (min-width: 641px) {
    .overlay-window {
        top: 25px;
        left: 25px;
        height: calc(100% - 50px);
        width: calc(100% - 50px);
        border-radius: 20px;

        box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 5px 5px;
    }
}

@media (max-width: 640.98px) {
    .overlay-window {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}