input[type=number]{
    width: 80px;
}

.brightness-container{
    display: flex;
    flex-direction: row;
}

.brightness-container input{
    margin-right: 50px;
}

.disabled-screen-generator{
    background-color: #d9d9d9;
}

.red{
    color: red;
    font-size: 17px;
    font-weight: 700;
}